
{% extends 'base.html' %}

{% block title %} {{ event.title }} {% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="card m-4">
            <div class="card-body" >
              <img src={{ event.img_address }} class="card-img-top" alt="cover" style="max-width: 50%">
              <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text"><strong>Date:</strong>  {{ event.date }}</p>
                    <p class="card-text"><strong>Location:</strong>  {{ event.location }}</p>
                    <p class="card-text"> <strong>Category:</strong>
                        {% for category in event.categories.all %}
                            <span class="badge text-bg-secondary">{{ category.name }}</span>
                        {% endfor %}
                    </p>
              <a href="{% url 'main_app:homepage' %}" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}