{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}


{% block body %}

    <h1 class="m-4">Posts</h1>

    <div class="container">

        {% for post in posts %}
        <div class="card my-4">
           <div class="card-header d-flex justify-content-between">
                <h5>{{ post.title }} </h5>
                <p>{{ post.date }}</p>
            </div>
          <div class="card-body">
            <h6 class="card-title">Author: {{ post.author }}</h6>
            <p class="card-text">{{ post.content|truncatechars:150 }}</p>
            <a href="{% url 'blog:post_details' post.id %}" class="btn btn-primary">Go to the Post</a>
              {% if user.is_authenticated and user.id == post.author.id or user.is_superuser %}
            <a href="{% url 'blog:remove_post' post.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
          </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}