{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}


{% block body %}

    <div class="container">
        <div class="card mt-4">
            <div class="card-header d-flex justify-content-between">
                <h5>Author: {{ post_details.author }} </h5>
                <p>{{ post_details.date }}</p>
            </div>
          <div class="card-body">
            <h5 class="card-title">{{ post_details.title }}</h5>
            <p class="card-text">{{ post_details.content }}</p>
            <a href="{% url 'blog:homepage' %}" class="btn btn-primary">Go Back</a>
          </div>
        </div>
    </div>

{% endblock %}