<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blog:homepage' %}">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:homepage' %}">Home</a>

        {% if user.is_authenticated and user.is_superuser or perms.blog.add_post %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:add_post' %}">Create Post</a>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user }}
          </a>
          <ul class="dropdown-menu">

            {% if not user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'blog:login' %}">Login</a></li>
            <li><a class="dropdown-item" href="{% url 'blog:sign_up' %}">Sign Up</a></li>
            {% endif %}

            {% if user.is_authenticated %}
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="{% url 'blog:logout' %}">Log out</a></li>
            {% endif %}

          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="post_query">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
